*{
    margin: 0;
    padding:0;

}
body{
     background-color: #FAF5ED;
    color:#083A75;
    font-family:"inknuk-antiqua","sans-serif";
    box-sizing: border-box;
}
        
.parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* optional, helps with responsiveness */
    height: 100vh; /* full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse, #EC6408, #EEB353);
    height: 250px;
    width: 430px;
    border-radius: 20px;
    justify-content: center;
}
h2{
    padding-bottom: 10px;
}

            
input{
    border-radius: 5px;
    padding:10px;
    background-color: #FAF5ED; 
    width: 300px;
}
input::placeholder{
    color: #083A75; 
    outline: none;
             
}
input:focus{
    outline : none;
    border: none;
}
button{
    background-color: #EEB353;
    padding: 9px;
    border-radius:5px;
    outline:none;
    border:2px solid #EC6408;
}
button:hover{
    border:1px solid #EC6408;
    color:rgb(238, 223, 199);
}