*{
    margin: 0;
    padding:0;
    font-family:"inknuk-antiqua","sans-serif";
    box-sizing: border-box;
}
body{
     background-color: #FAF5ED;
        color:#083A75;
}


.parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* optional, helps with responsiveness */
    height: 100vh; /* full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse, #EC6408, #EEB353);
    height: 250px;
    width: 430px;
    border-radius: 20px;
    justify-content: center;
}
h2{
    margin: 0;
    
    padding-bottom: 10px;
}

            
input{
    border-radius: 5px;
    padding:10px;
    background-color: #FAF5ED; 
    width: 300px;
}
input::placeholder{
    color: #083A75; 
    outline: none;
             
}
input:focus{
    outline : none;
    border: none;
}
button{
    background-color: #EEB353;
    padding: 9px;
    border-radius:5px;
    outline:none;
    border:2px solid #EC6408;
}
button:hover{
    border:3px solid #EC6408;
    color: #083A75; 
    
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 10px;
  
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product_img{
  width: 90%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card:hover{
    color: #083A75;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
}

img {
    object-fit: cover;
    border-radius: 8px;
}

.button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #005eff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.button:hover {
    background-color: #003fc2;
}
.dflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}
.h3{
    padding-top: 10px;
    margin-left: 70px;
}
.pay-div{
    margin-left:  101.55em;
}